
  <div id="test" style="padding:7px;">
    <form name="search_form"  action="/recipe_search"  method="get">
      <input id="search_input" autocomplete="off" type="text" name="search" size="25" />
      <input id="search_button" type="submit" value="Search Recipes" />
    </form>
  </div>

