
<table>
<form name="login" action="/authenticate" method="post"> 
<tr><td>User Name :</td><td><input type="text" name="user_name" /></td></tr>
<tr><td>Password :</td><td><input type="password" name="password" /></td></tr>
<tr><td><input type="submit" value="Login" /></td></tr>
</form>
</table>
